.container {
  background-color: var(--color-theme-quaternary);
  color: var(--color-theme-primary);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: right;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.link {
  display: flex;
  flex-flow: row wrap;
  margin-left: 2em;
}
